body .wp-block{
  width: 100%;
  max-width: 1199px;
}
.wp-block[data-align="full"] {
  max-width: 100%;
}
.editor-block-list__layout .editor-block-list__block[data-align="full"] {
  margin-left: 0;
  margin-right: 0;
}
.editor-block-list__layout .editor-block-list__block[data-align="full"] {
    padding-left: 0;
    padding-right: 0;
}
.wp-block-pullquote.alignleft, .wp-block-pullquote.alignright {
  max-width: 335px;
}

/** === Base Typography === */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.8;
  color: #5a5a5a;
  font-weight: 400;
}

p{
  margin: 0 0 20px 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #5a5a5a;
  font-weight: 400;
}
body ul li,body ol li {
  margin-bottom: 0px;
  margin-top: 8px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: 1.4em;
}

h1 {
    font-size: 32px;
    font-weight: 700;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
}

h3 {
  font-size:  1.17em;
  font-weight: 700;
}

h4 {
  font-size: 16px;
  font-weight: 700;
}

h5 {
  font-weight: 700;
  font-size: 13.3px;
}

h6 {
  font-weight: 700;
  font-size: 10.7px;
}

a {
  transition: all 0.2s linear;
  text-decoration: underline;
  color: #5a5a5a;
  background-color: transparent;

}

a:hover, a:active {
  color: #fdc400;
  outline: 0;
  text-decoration: none;

}

a:focus {
  outline: 0;
  text-decoration: underline;
}

.has-primary-background-color,
.has-secondary-background-color,
.has-dark-gray-background-color,
.has-light-gray-background-color {
  color: #fff;
}

.has-primary-background-color p,
.has-primary-background-color h1,
.has-primary-background-color h2,
.has-primary-background-color h3,
.has-primary-background-color h4,
.has-primary-background-color h5,
.has-primary-background-color h6,
.has-primary-background-color a,
.has-secondary-background-color p,
.has-secondary-background-color h1,
.has-secondary-background-color h2,
.has-secondary-background-color h3,
.has-secondary-background-color h4,
.has-secondary-background-color h5,
.has-secondary-background-color h6,
.has-secondary-background-color a,
.has-dark-gray-background-color p,
.has-dark-gray-background-color h1,
.has-dark-gray-background-color h2,
.has-dark-gray-background-color h3,
.has-dark-gray-background-color h4,
.has-dark-gray-background-color h5,
.has-dark-gray-background-color h6,
.has-dark-gray-background-color a,
.has-light-gray-background-color p,
.has-light-gray-background-color h1,
.has-light-gray-background-color h2,
.has-light-gray-background-color h3,
.has-light-gray-background-color h4,
.has-light-gray-background-color h5,
.has-light-gray-background-color h6,
.has-light-gray-background-color a {
  color: #fff;
}

.has-white-background-color {
  color: #111;
}

.has-white-background-color p,
.has-white-background-color h1,
.has-white-background-color h2,
.has-white-background-color h3,
.has-white-background-color h4,
.has-white-background-color h5,
.has-white-background-color h6,
.has-white-background-color a {
  color: #111;
}

figcaption,
.gallery-caption {
  margin-top: 0.5em;
  margin-bottom: 1em;
  color: #555d66;
  text-align: center;
  font-size: 13px;
}

/** === Post Title === */
.editor-post-title{

}
.editor-post-title__block .editor-post-title__input {
  font-size: 60px;
  line-height: 1.1;
  font-weight: 400;
  letter-spacing: 0.01em;
  margin: 0;
  padding-bottom: 29px;
  color: #393939;
  font-family: 'Roboto', sans-serif;
}

/** === Default Appender === */
.editor-default-block-appender .editor-default-block-appender__content {
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}

/** === Heading === */
.wp-block-heading strong {
  font-weight: bolder;
}

/** === Paragraph === */
.wp-block-paragraph.has-drop-cap:not(:focus)::first-letter {
  font-family: 'Lato', sans-serif;
  font-size: 3.375em;
  line-height: 1;
  font-weight: bold;
  margin: 0 0.25em 0 0;
}

/** === Table === */
.wp-block-table {
  font-family: 'Lato', sans-serif;
}

/** === Cover === */
.wp-block-cover h2,
.wp-block-cover .wp-block-cover-text {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  padding-left: 1rem;
  padding-right: 1rem;
}

.wp-block-cover h2 strong,
.wp-block-cover .wp-block-cover-text strong {
  font-weight: bolder;
}

@media only screen and (min-width: 768px) {
  .wp-block-cover h2,
  .wp-block-cover .wp-block-cover-text {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}

@media only screen and (min-width: 768px) {
  .wp-block-cover {
    padding-left: 10%;
    padding-right: 10%;
  }
  .wp-block-cover h2 {
    font-size: 2.25em;
  }
  .wp-block-cover .wp-block-cover-text {
    font-size: 16px;
  }
}

.wp-block[data-type="core/cover"][data-align="left"] .editor-block-list__block-edit,
.wp-block[data-type="core/cover"][data-align="right"] .editor-block-list__block-edit {
  max-width: 305px;
  width: 100%;
}

.wp-block[data-type="core/cover"][data-align="left"] .wp-block-cover,
.wp-block[data-type="core/cover"][data-align="right"] .wp-block-cover {
  width: 100%;
  max-width: 100%;
}

@media only screen and (min-width: 768px) {
  .wp-block[data-type="core/cover"][data-align="left"] .wp-block-cover,
  .wp-block[data-type="core/cover"][data-align="right"] .wp-block-cover {
    padding: 1rem;
  }
}
@media only screen and (min-width: 768px) {
  .wp-block[data-type="core/cover"][data-align="full"] .wp-block-cover {
    padding-left: calc(10% + 64px);
    padding-right: calc(10% + 64px);
  }
}

/** === Gallery === */
.wp-block-gallery .blocks-gallery-image figcaption,
.wp-block-gallery .blocks-gallery-item figcaption,
.wp-block-gallery .gallery-item .gallery-caption {
  margin-top: 0.5em;
  margin-bottom: 1em;
  color: #ffffff;
  text-align: center;
  font-size: 13px;
}

/** === Button === */
.wp-block-button .wp-block-button__link {
  background-color: #32373c;
  border: none;
  border-radius: 28px;
  box-shadow: none;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  margin: 0;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  white-space: normal;
  overflow-wrap: break-word;
}
.editor-block-list__block[data-align="center"]
.wp-block-button:not(.is-style-outline) .wp-block-button__link {
  background: #32373c;
}
.wp-block-button.is-style-outline, .wp-block-button.is-style-outline:hover, .wp-block-button.is-style-outline:focus, .wp-block-button.is-style-outline:active {
  background: transparent;
  color: #32373c;
}
.wp-block-button.is-style-outline .wp-block-button__link, .wp-block-button.is-style-outline:hover .wp-block-button__link, .wp-block-button.is-style-outline:focus .wp-block-button__link, .wp-block-button.is-style-outline:active .wp-block-button__link {
  background: transparent;
}
.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color), .wp-block-button.is-style-outline:hover .wp-block-button__link:not(.has-text-color), .wp-block-button.is-style-outline:focus .wp-block-button__link:not(.has-text-color), .wp-block-button.is-style-outline:active .wp-block-button__link:not(.has-text-color) {
  color: #0073aa;
}
@font-face {
  font-family: 'driving';
  src:  url('fonts/driving.eot?y9bs4p');
  src:  url('fonts/driving.eot?y9bs4p#iefix') format('embedded-opentype'),
    url('fonts/driving.ttf?y9bs4p') format('truetype'),
    url('fonts/driving.woff?y9bs4p') format('woff'),
    url('fonts/driving.svg?y9bs4p#driving') format('svg');
  font-weight: normal;
  font-style: normal;
}
/** === Blockquote === */
.wp-block-quote:not(.is-large):not(.is-style-large) {
  border-left: 0px solid #000;
  padding-left: 142px;
  position: relative;
}
.wp-block-quote:not(.is-large):not(.is-style-large)::before {
  content: '';
    display: block;
    width: 1px;
    height: 100%;
    position: absolute;
    left: 86px;
    top: -2px;
    background: #fdc400;
}
.wp-block-quote:not(.is-large):not(.is-style-large)::after {
  content: '\e917';
  font-family: 'driving';
  font-size: 36px;
  line-height: 1.1;
  position: absolute;
  left: 63px;
  top: 13px;
  color: #fdc400;
  font-style: normal;
  border: 5px solid #fff;
  z-index: 7;
  background-color: #fff;
}
.wp-block-quote.is-large, .wp-block-quote.is-style-large {
  border-left: 0px solid #000;
  padding-left: 142px;
  position: relative;
}
.wp-block-quote.is-large::before, .wp-block-quote.is-style-large::before {
  content: '';
    display: block;
    width: 1px;
    height: 100%;
    position: absolute;
    left: 86px;
    top: -2px;
    background: #fdc400;
}
.wp-block-quote.is-large::after, .wp-block-quote.is-style-large::after {
  content: '\e917';
  font-family: 'driving';
  font-size: 36px;
  line-height: 1.1;
  position: absolute;
  left: 63px;
  top: 13px;
  color: #fdc400;
  font-style: normal;
  border: 5px solid #fff;
  z-index: 7;
  background-color: #fff;
}
.wp-block-quote.is-large p,
.wp-block-quote.is-style-large p {
  font-style: normal;
}
/** === Pullquote === */
.wp-block-pullquote{
	border:none;
	position: relative;
}
.wp-block-pullquote.aligncenter, .wp-block-pullquote.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
.wp-block-pullquote blockquote {
  position: relative;
  padding-left: 124px;
  margin-bottom: 60px;
}
.wp-block-pullquote blockquote::before {
  content: '';
    display: block;
    width: 1px;
    height: 100%;
    position: absolute;
    left: 86px;
    top: -2px;
    background: #fdc400;
}
.wp-block-pullquote blockquote::after {
  content: '\e917';
  font-family: 'driving';
  font-size: 36px;
  line-height: 1.1;
  position: absolute;
  left: 63px;
  top: 13px;
  color: #fdc400;
  font-style: normal;
  border: 5px solid #fff;
  z-index: 7;
  background-color: #fff;
}
.wp-block-pullquote:not(.is-style-solid-color) .wp-block-pullquote__citation {
  position: relative;
}
.wp-block-pullquote.is-style-solid-color blockquote {
  max-width: 100%;
  margin-right: 1em;
  margin-left: 1em;
}
.wp-block[data-type="core/pullquote"][data-align="left"] .editor-block-list__block-edit,
.wp-block[data-type="core/pullquote"][data-align="right"] .editor-block-list__block-edit {
  width: calc(4 * (100vw / 12));
  max-width: 50%;
}
.wp-block[data-type="core/pullquote"][data-align="left"] blockquote > .block-library-pullquote__content .editor-rich-text__tinymce[data-is-empty="true"]::before,
.wp-block[data-type="core/pullquote"][data-align="left"] blockquote > .editor-rich-text p,
.wp-block[data-type="core/pullquote"][data-align="left"] p,
.wp-block[data-type="core/pullquote"][data-align="left"] .wp-block-pullquote__citation,
.wp-block[data-type="core/pullquote"][data-align="right"] blockquote > .block-library-pullquote__content .editor-rich-text__tinymce[data-is-empty="true"]::before,
.wp-block[data-type="core/pullquote"][data-align="right"] blockquote > .editor-rich-text p,
.wp-block[data-type="core/pullquote"][data-align="right"] p,
.wp-block[data-type="core/pullquote"][data-align="right"] .wp-block-pullquote__citation {
  text-align: left;
}
/** === File === */
.wp-block-file {
  font-family: 'Lato', sans-serif;
}
.wp-block-file .wp-block-file__textlink {
  text-decoration: underline;
  color: #0073aa;
}
.wp-block-file .wp-block-file__textlink:hover {
  color: #005177;
  text-decoration: none;
}
.wp-block-file .wp-block-file__button {
  display: table;
  line-height: 1.8;
  font-size: 0.88889em;
  font-weight: bold;
  background-color: #0073aa;
  border-radius: 5px;
}
.wp-block-file .wp-block-file__button-richtext-wrapper {
  display: block;
  margin-top: calc(0.75 * 1rem);
  margin-left: 0;
}
/** === Code === */
.wp-block-code {
  border-radius: 0;
}
code {
  background: rgba( 68, 68, 68, 0.2);
}
/** === Table === */
.wp-block-table td, .wp-block-table th {
  border-color: rgb(209, 209, 209);
  font-family: 'Open Sans', sans-serif;
}
/** === Separator === */
.wp-block-separator:not(.is-style-dots) {
  border-bottom: 1px solid #8f98a1;
}
.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
  width: 100%;
  max-width: 100%;
  margin-left: 0;
}
.wp-block-separator.is-style-dots:before {
  color: #767676;
  font-size: 1.6875em;
  letter-spacing: calc(2 * 1rem);
  padding-left: calc(2 * 1rem);
}
/** === Latest Posts grid view === */
.wp-block-latest-posts.is-grid li {
  border-top: none;
  padding-top: 0;
  margin-bottom: 0;
  margin: 0 16px 16px 0;
}
.wp-block-latest-posts.is-grid li a:after {
  content: '';
}
.wp-block-latest-posts.is-grid li:last-child {
  margin-bottom: auto;
}
.wp-block-latest-posts.is-grid li:last-child a:after {
  content: '';
}
/** === Latest Comments === */
.wp-block-latest-comments .wp-block-latest-comments__comment-meta {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}
.wp-block-latest-comments .wp-block-latest-comments__comment-meta .wp-block-latest-comments__comment-date {
  font-weight: normal;
}
.wp-block-latest-comments .wp-block-latest-comments__comment,
.wp-block-latest-comments .wp-block-latest-comments__comment-date,
.wp-block-latest-comments .wp-block-latest-comments__comment-excerpt p {
  font-size: inherit;
}
.wp-block-latest-comments .wp-block-latest-comments__comment-date {
  font-size: 0.71111em;
}
/** === Classic Editor === */
/* Properly center-align captions in the classic-editor block */
.wp-caption dd {
  color: #767676;
  font-size: 0.71111em;
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0.5rem;
  text-align: left;
  text-align: center;
  -webkit-margin-start: 0px;
  margin-inline-start: 0px;
}
.wp-block-freeform blockquote {
    padding: 10px 20px;
	margin: 0 0 20px;
	font-size: 17.5px;
	border-left: 5px solid #eee;
}
.wp-block-freeform blockquote cite {
  font-family: 'Lato', sans-serif;
  font-size: 0.71111em;
  font-style: normal;
  line-height: 1.6;
  color: #767676;
}
/* Make sure our non-latin font overrides don't overwrite the iconfont used in the classic editor toolbar */
.wp-block[data-type="core/freeform"] .mce-btn i {
	font-family: dashicons !important;
}
/***********Own Style*********/
.editor-post-title .wp-block.editor.post-title__block{
	max-width:100%;
	width:100%;
}
.editor-post-title__block .editor-post-title__input{
	text-align:center;
}
.mce-item-table, .mce-item-table td, .mce-item-table th{
	border:none;
}
.mce-item-table thead tr th{
	border: 1px solid #ddd;
    vertical-align: bottom;
	padding:8px;
	text-align:left;
}
.mce-item-table tbody tr th{
	border: 1px solid #ddd;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
	text-align:left;
}
.mce-item-table tbody tr td{
	border: 1px solid #ddd;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}
.wp-block-freeform.block-library-rich-text__tinymce a{
	color:#f7bd00;
	text-decoration:none;
}
/***************Common Style********************/
.block-library-list .editor-rich-text__tinymce, .block-library-list .editor-rich-text__tinymce ol, .block-library-list .editor-rich-text__tinymce ul{
  margin-left:0px;
  padding-left: 40px;
}
.wp-block-pullquote.alignright{
	margin:0px;
	padding:0px;
	text-align:right;
}
.wp-block-pullquote.alignleft{
	margin:0px;
	padding:0px;
	text-align:left;
}
/* next update */
.editor-block-list__block::before {
  bottom: 0;
  content: "";
  left: -28px;
  position: absolute;
  right: -28px;
  top: 0;
}
pre.editor-rich-text__tinymce {
  border: 1px solid #d1d1d1;
  line-height: 1.3125;
  margin: 0 0 1.75em;
  max-width: 100%;
  padding: 1.75em;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 16px;
  color: #5a5a5a;
  font-family: monospace;
}
ul.wp-block-categories__list {
  text-align: left;
}
.wp-block-pullquote.alignleft p, .wp-block-pullquote.alignright p {
  font-size: 20px
}
.wp-block-paragraph.has-large-font-size {
  color: #fff;
}
.wp-block-cover {
  padding-left: 0%;
  padding-right: 0%;
}
.wp-block-cover.alignleft {
  margin-right: 10px;
}
.wp-block-cover.alignright {
  margin-left: 10px;
}
blockquote {
  margin: 39px 0 0 0;
  padding: 0 0 0 142px;
  position: relative;
  min-height: 80px;
}
blockquote p  {
  font-style: italic;
  letter-spacing: -0.02em;
  margin-top: 32px !important;
}
.wp-block-separator {
  border: none;
  border-bottom: 1px solid #8f98a1;
  margin: 1.65em auto;
  max-width: 100% !important;
}
pre {
  background: none;
  padding: 0px;
  border: none;
  line-height: 1.8;
  font-family: monospace;
  font-size: 15px;
  color: #333;
}
pre {
  border: 1px solid #d1d1d1;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.3125;
  margin: 0 0 1.75em;
  max-width: 100%;
  overflow: auto;
  padding: 1.75em;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
pre.wp-block-verse {
  white-space: nowrap;
  overflow: auto;
}